
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.forefrontgrey{
    background-color:#504A54
}
#forefrontgrey{
    background-color:#504A54
}
a {
    font-family:"Kdam Thmor Pro";
}
p {
    font-size:50;
}
.bodytext {
    font-family: 'Courier New', monospace;
}
.center {
text-align: center;
margin: auto;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.image-box {
    color:white
}
.largebutton {
    width:200px;
    height:50px;
    font-size: large;
}
.text-box {
    max-width: 500px; /* Adjust the max-width as needed */
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text color to white */
    padding: 10px; /* Add padding to the text box */
}
#background {
    background-image:A breathtakingl 0.png;
}
* {
    margin: 0;
    padding: 0;
  }
  
  canvas {
    display: block;
  }