body {
  min-height: max-content
}
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
.forefrontgrey{
    background-color:#504A54
    color(#504A54)
}
#forefrontgrey{
    background-color:#504A54
}
a {
    font-family:"Kdam Thmor Pro";
}
p {
    font-size:50;
}
.bodytext {
    font-family: 'Courier New', monospace;
}
.center {
text-align: center;
margin: auto;
display: block;
margin-left: auto;
margin-right: auto;
}
.image-box {
    color:white
}
.largebutton {
    width:200px;
    height:50px;
    font-size: large;
}
.text-box {
    max-width: 500px; /* Adjust the max-width as needed */
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text color to white */
    padding: 10px; /* Add padding to the text box */
}
#background {
    background-image:A breathtakingl 0.png;
}
* {
    margin: 0;
    padding: 0;
  }
  
  canvas {
    display: block;
  }
  .animation-container {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease, transform 1s ease;
    text-align:center ;
    margin: auto;
    
  }
  
  .animation-container.show {
    opacity: 1;
    transform: translateY(0);
  }
  footer {
    background-color: #323436; /* Add your background color */
    text-align: center;
    padding: 1rem;
    bottom: 0;
    margin-top: auto;
  }
 
.main-content {
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
  }
  
  .main-content.animate {
    opacity: 1;
    transform: translateY(0);
  }

  .floating {  
    animation-name: floating;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
    
}

.logofloating {  
  animation-name: logofloating;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(-1px,  0px); }
  33%  { transform: translate(0px, 1px); }
  66% { transform: translate(0px, -1px);}
  100%   { transform: translate(-1px, -0px); }    
}

@keyframes logofloating {
  0% { transform: translate(-4px,  0px); }
  33%  { transform: translate(0px, 4px); }
  66% { transform: translate(0px, -4px);}
  100%   { transform: translate(-4px, -0px); }    
}
#background-video {
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.transparentbtn { 
  cursor: pointer; 
  border: 1px solid #3498db; 
  background-color: transparent; 
  height: 50px; 
  width: 200px; 
  color: #504A54; 
  font-size: 1.5em; 
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); 
} 